
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<div id="content">
    <h2>Etiam In Tellus</h2>
    <div class="col col_14 product_gallery">
        <a asp-controller="Products" asp-action="ProductDetail"><img src="~/images/product/01.jpg" alt="Product 01" /></a>
        <h3>Ut eu feugiat</h3>
        <p class="product_price">$ 100</p>
        <a asp-controller="CheckOut" asp-action="ShoppingCart" class="add_to_cart">Add to Cart</a>
    </div>
    <div class="col col_14 product_gallery">
        <a asp-controller="Products" asp-action="ProductDetail"><img src="~/images/product/02.jpg" alt="Product 02" /></a>
        <h3>Curabitur et turpis</h3>
        <p class="product_price">$ 200</p>
        <a asp-controller="CheckOut" asp-action="ShoppingCart" class="add_to_cart">Add to Cart</a>
    </div>
    <div class="col col_14 product_gallery no_margin_right">
        <a asp-controller="Products" asp-action="ProductDetail"><img src="~/images/product/03.jpg" alt="Product 03" /></a>
        <h3>Mauris consectetur</h3>
        <p class="product_price">$ 120</p>
        <a asp-controller="CheckOut" asp-action="ShoppingCart" class="add_to_cart">Add to Cart</a>
    </div>
    <a href="#" class="more float_r">View all</a>
    <div class="cleaner h50"></div>

    <h2>Hendrerit Justo</h2>
    <div class="col col_14 product_gallery">
        <a asp-controller="Products" asp-action="ProductDetail"><img src="~/images/product/04.jpg" alt="Product 04" /></a>
        <h3>Proin volutpat</h3>
        <p class="product_price">$ 260</p>
        <a asp-controller="CheckOut" asp-action="ShoppingCart" class="add_to_cart">Add to Cart</a>
    </div>
    <div class="col col_14 product_gallery">
        <a asp-controller="Products" asp-action="ProductDetail"><img src="~/images/product/05.jpg" alt="Product 05" /></a>
        <h3>Aenean tempus</h3>
        <p class="product_price">$ 80</p>
        <a asp-controller="CheckOut" asp-action="ShoppingCart" class="add_to_cart">Add to Cart</a>
    </div>
    <div class="col col_14 product_gallery no_margin_right">
        <a asp-controller="Products" asp-action="ProductDetail"><img src="~/images/product/06.jpg" alt="Product 06" /></a>
        <h3>Nulla luctus urna</h3>
        <p class="product_price">$ 193</p>
        <a asp-controller="CheckOut" asp-action="ShoppingCart" class="add_to_cart">Add to Cart</a>
    </div>
    <a href="#" class="more float_r">View all</a>
    <div class="cleaner h50"></div>

    <h2>Maecenas A Diam</h2>
    <div class="col col_14 product_gallery">
        <a asp-controller="Products" asp-action="ProductDetail"><img src="~/images/product/07.jpg" alt="Product 07" /></a>
        <h3>Pellentesque egestas</h3>
        <p class="product_price">$ 30</p>
        <a asp-controller="CheckOut" asp-action="ShoppingCart" class="add_to_cart">Add to Cart</a>
    </div>
    <div class="col col_14 product_gallery">
        <a asp-controller="Products" asp-action="ProductDetail"><img src="~/images/product/08.jpg" alt="Product 08" /></a>
        <h3>Suspendisse porttitor</h3>
        <p class="product_price">$ 220</p>
        <a asp-controller="CheckOut" asp-action="ShoppingCart" class="add_to_cart">Add to Cart</a>
    </div>
    <div class="col col_14 product_gallery no_margin_right">
        <a asp-controller="Products" asp-action="ProductDetail"><img src="~/images/product/09.jpg" alt="Product 09" /></a>
        <h3>Nam vehicula</h3>
        <p class="product_price">$ 65</p>
        <a asp-controller="CheckOut" asp-action="ShoppingCart" class="add_to_cart">Add to Cart</a>
    </div>
    <a href="#" class="more float_r">View all</a>
    <div class="cleaner"></div>
</div> <!-- END of content -->